@page "/"
@using MathProject.Models

<PageTitle>ויקי-בגרות 371</PageTitle>

<h1>מרכז הלמידה של כיתה י1 - שאלון 371</h1>

<div class="container">
    <div class="header-section">
        <h1> הפרויקטים שלנו</h1>
        <div class="header-accent"></div>
    </div>

    <div class="main-grid">
        @foreach (var p in projects)
        {
            <ProjectCard Project="p" />
        }
    </div>
</div>

@code {
    private List<MathProject> projects = new List<MathProject>
{
        new MathProject {
            Topic = "הסתברות",
            Students = "קבוצה 1",
            IsCompleted = true,
            PresentationLink = "file:///C:/Users/user/Downloads/Project_Based_Math_371.pdf", // כאן יבוא הלינק האמיתי
            VideoLink = "#",
            ExercisesLink = "#"
        },
        new MathProject {
            Topic = "גדילה ודעיכה",
            Students = "קבוצה 2",
            IsCompleted = false,
            PresentationLink = "#",
            VideoLink = "#",
            ExercisesLink = "#"
        },
        new MathProject {
            Topic = "טריגונומטריה",
            Students = "קבוצה 3",
            IsCompleted = false,
            PresentationLink = "#",
            VideoLink = "#",
            ExercisesLink = "#"
        },
        new MathProject {
            Topic = "דמיון משולשים",
            Students = "קבוצה 4",
            IsCompleted = false,
            PresentationLink = "#",
            VideoLink = "#",
            ExercisesLink = "#"
        },
        new MathProject {
            Topic = "גידול לינארי",
            Students = "קבוצה 5",
            IsCompleted = false,
            PresentationLink = "#",
            VideoLink = "#",
            ExercisesLink = "#"
        },
        new MathProject {
            Topic = "סטטיסטיקה",
            Students = "קבוצה 6",
            IsCompleted = false,
            PresentationLink = "#",
            VideoLink = "#",
            ExercisesLink = "#"
        }
        // אפשר להוסיף פה את שאר הנושאים מהמצגת: טריגונומטריה, סטטיסטיקה וכו'
    };
}